* {
  margin: 0; padding: 0; font-family: 'Open Sans'
}

body {
  background-color: #e0e0e0;
  font-family: sans-serif;
  font-weight:100;
  text-align: center;
}

.clause_list {
  vertical-align: top;
  display: inline-block;
  margin:10px;
  padding:20px;
  width:300px;
}

.nand-clauses {
  text-align: right;
}
.or-clauses {
  text-align: left;
}

input {
  border:none;
  padding:10px;
  margin:5px;
  width:200px;
  font-size: 14pt;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size:20pt;
  padding:20px;
}

.clause_list div p {
  margin:5px;
  padding:10px 12px;
  display: inline-block;
  color:#fff;
}

.clause_list.nand-clauses div p {
  background-color: #f55;
}

.clause_list.or-clauses div p {
  background-color: #5aa;
}
