* {
  margin: 0; padding: 0; font-family: 'Open Sans';
}

body {
  background-color: #e0e0e0;
  font-family: sans-serif;
  font-weight:100;
  text-align: center;
}

.main_section {
  margin:50px;
}

.clause_list {
  vertical-align: top;
  display: inline-block;
  margin:10px;
  width:300px;
}

.nand_clauses {
  text-align: right;
  color:#f55;
}
.or_clauses {
  text-align: left;
  color:#5aa;
}

input {
  border:none;
  padding:15px;
  margin:5px;
  width:200px;
  font-size: 12pt;
  text-align: center;
}

input:focus {
  outline: none;
}

.clause_list div p {
  margin:2px;
  padding:10px 15px;
  display: inline-block;
  color:#fff;
  font-size: 9pt;
  font-weight: 300;
}

.clause_list.nand_clauses div p {
  background-color: #f55;
  text-decoration: overline;
}

.clause_list.or_clauses div p {
  background-color: #5aa;
}
