* {
  margin: 0; padding: 0; font-family: 'Open Sans';
}

body {
  background-color: #e0e0e0;
  font-family: sans-serif;
  font-weight:100;
  text-align: center;
}

.main_section {
  margin:50px;
}

.clause_list {
  vertical-align: top;
  display: inline-block;
  margin:10px;
  width:300px;
}

.clause_list>h3 {
  margin:10px;
}

.nand_clauses {
  text-align: right;
  color:#f54;
}
.or_clauses {
  text-align: left;
  color:#5aa;
}

input {
  border:none;
  padding:15px;
  margin:5px;
  width:200px;
  font-size: 12pt;
  text-align: center;
}

input:focus {
  outline: none;
}

.clause_list div p {
  margin:4px;
  padding:15px 20px;
  display: inline-block;
  color:#fff;
  font-size: 9pt;
  font-weight: 300;
}

.clause_list div p:hover {
  cursor: pointer;
}

.clause_list.nand_clauses div p.Unselectable { background-color: #aaa; }
.clause_list.or_clauses div p.Unselectable { background-color: #aaa; }
.clause_list.nand_clauses div p.Selectable { background-color: #f87; }
.clause_list.or_clauses div p.Selectable { background-color: #9cc; }
.clause_list.nand_clauses div p.Selected { background-color: #f54; }
.clause_list.or_clauses div p.Selected { background-color: #5aa; }
